.coin {
  display: flex;
  margin-right: 150px;
  margin-bottom: 25px;
}

.coin:last-child {
  margin-right: 0;
}

.coin_image-block {
  width: 120px;
  margin-right: 30px;
}

.coin_image-block img {
  width: 100%;
}

.coin_info-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #833ae0;
}

.coin_info-info {
  width: 213px;
font-weight: 400;
font-size: 12px;
line-height: 15px; 
}
