.main-page__title {
  font-weight: 300;
  font-size: 70px;
  line-height: 59px;
  margin: 0;
}

.main-page__form-container {
  margin-top: 25px;
}
.main-page__form {
  display: flex;
}

.main-page__form-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 15px;
  margin-bottom: 10px;
}

.main-page__form-input {
  width: 374px;
  padding: 15px;
  font-size: 24px;
  border: 1px solid #000000;
  margin-right: 30px;
  box-sizing: border-box;
}

.main-page__form-button {
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #833ae0;
  padding: 20px 40px;
  border: none;
}

.main-page__form-button:hover {
  background: #9255e2;
  cursor: pointer;
}

.main-page__Coins-filter-button {
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  line-height: 15px;
  text-decoration-line: underline;
  border: 0;
  cursor: pointer;
  color: #8b8b8b;
  background: white;
}

.main-page__Coins-filter-button:hover {
  color: #625a5a;
  cursor: pointer;
}

.main-page__Coins-filter-button span {
  transform: rotate(-180deg);
  padding-left: 10px;
  text-decoration: none;
}

.main-page__advanced-filter-none {
  display: none;
}

.main-page__advanced-filter {
  margin-top: 25px;
  display: flex;
}

.main-page__advanced-filter-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 15px;
  margin-bottom: 10px;
}

.main-page__advanced-filter-select {
  width: 374px;
  padding: 15px;
  font-size: 24px;
  border: 1px solid #000000;
  margin-right: 30px;
  cursor: pointer;
}

.main-page__advanced-filter-form-block {
  display: flex;
}

.main-page__advanced-filter-form-input {
  width: 155px;
  padding: 15px;
  font-size: 24px;
  border: 1px solid #000000;
  margin-right: 30px;
}
